/*.App {*/
  /*text-align: center;*/
/*}*/

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 40vmin;*/
  /*pointer-events: none;*/
/*}*/

/*.App-header {*/
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
/*}*/

/*.App-link {*/
  /*color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
  /*from {*/
    /*transform: rotate(0deg);*/
  /*}*/
  /*to {*/
    /*transform: rotate(360deg);*/
  /*}*/
/*}*/

* {
  font-family: 'Ubuntu', sans-serif;
}

a, a:hover {
  /*text-decoration: none;*/
}

legend {
  font-size: 24px;
}

button {
  outline: none !important;
}

textarea {
  resize: none;
}

.legend-separator {
  margin-top: 10px;
  border: 0.02rem solid #ccc;
}

.legend-heading {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  padding-right: 10px;
}

.top-navbar {
  background-color: #111;
  padding: 15px;
  color: #fff;
  font-size: 20px;
}

.main-layout {
  min-height: 200%;
  padding: 0;
}

.side-navbar-div, .container-div {
  padding: 0;
}

.side-navbar {
  background-color: #111;
  color: #fff;
  height: 100vh;
  /*padding: 15px;*/
  font-size: 16px;
}

.side-navlinks {
  padding: 15px;
  list-style: none;
  /*border-bottom: 1px solid #fff;*/
  transition: 0.6s all;
  cursor: pointer;
}

.side-navlinks:hover {
  background-color: #fee600;
  transition: 0.6s all;
  color: #333;
  font-weight: bold;
}

.exp-links:first-child {
  margin-top: 0;
}

.exp-links {
  list-style: none;
  cursor: pointer;
  padding: 8px 20px;
  font-size: 16px;
  margin-top: 6px;
}

.exp-links:hover span {
  font-weight: bolder;
  text-decoration: underline;
}

.tab-layout {
  padding: 15px;
  height: 100%;
  font-size: 12px;
}

.params-select {
  width: 100%;
  padding: 5px;
}

.file-table {
  font-size: 12px;
  padding: 0 15px 0 0;
  overflow-y: scroll;
  height: 550px;
}

.parameter-div {
  padding-top: 20px;
}

.no-file {
  font-size: 26px;
  color: #ccc;
}

.active {
  background-color: #fee600;
  color: #333;
  font-weight: bold;
  transition: 0.6s all;
}

.show-filters, .show-filters:hover {
  background-color: #000;
  color: #fff !important;
}

.exp-sidebar {
  border-left: 1px solid #ddd;
  height: 100vh;
}

.no-pad {
  padding: 0;
}

.top-pad {
  padding-top: 2rem;
}

.exp-workspace {
  background-color: #f2f2f2;
  height: 100%;
}

.experiment-name {
  cursor: pointer;
  transition: 0.5s all;
}

.experiment-name:hover {
  font-weight: bold;
  background-color: #ccc;
  transition: 0.5s all;
}

.modal {
  opacity: 1;
  margin-top: 90px;
  padding-top: 90px;
  position: absolute;
}

.uploadModal {
  margin-top: 90px;
  padding-top: 90px;
}

.modal-header .close {
  margin-top: -22px;
}

.modal-open #root {
  opacity: 0.2;
  transition: 0.4s all;
  /*background-color: rgba(0,0,0,0.5);*/
}

.filter-select {
  width: 40%;
}

.dataset-table tbody tr:hover {
  cursor: pointer;
}

.dataset-table tbody tr {
  height: 55px;
  vertical-align: center !important;
}

.dataset-table tbody td {
  font-size: 14px;
}

.dataset-table thead th:first-child {
  min-width: 400px;
}

.dataset-table thead th:last-child {
  min-width: 300px;
}

.table-options {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  display: none;
  color: #333;
}

.dataset-table tbody tr:hover .table-options {
  display:block;
}

.table-options:hover {
  color: #333;
  border: 1px solid #333;
}

.add-new-btn {
  padding: 6px;
  margin-top: -8px;
  border-radius: 2px;
  background-color: #fff;
  border-color: #333;
  transition: 0.8s all;
}

.add-new-btn:hover {
  background-color: #fee600;
  transition: 0.8s all;
}

.add-new:hover {
  text-decoration: underline;
  cursor: pointer;
}

.form-group {
  margin-bottom: 20px;
}

.required {
  color: #b71c1c;
}