* {
  font-family: 'Ubuntu', sans-serif;
}

body ::-webkit-scrollbar-track {
  background: none !important;
}

body ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

legend {
  font-size: 24px;
}

button {
  outline: none !important;
}

textarea {
  resize: none;
}

.legend-separator {
  margin-top: 10px;
  border: 0.02rem solid #ccc;
}

.legend-heading {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  padding-right: 10px;
}

.top-navbar {
  background-color: #111;
  padding: 15px;
  color: #fff;
  font-size: 20px;
}

.main-layout {
  min-height: 200%;
  padding: 0;
}

.side-navbar-div, .container-div {
  padding: 0;
}

.side-navbar {
  background-color: #f7f9fa;
  border-right: 1px solid #eee;
  color: #637282;
  height: 100vh;
  font-size: 16px;
}

.side-navlinks {
  padding: 15px;
  list-style: none;
  transition: 0.3s all;
  cursor: pointer;
}

.side-navlinks:hover {
  background-color: #2684ff;
  transition: 0.3s all;
  color: #fff;
}

.exp-links:first-child {
  margin-top: 0;
}

.exp-links {
  list-style: none;
  cursor: pointer;
  padding: 8px 10px;
  font-size: 16px;
  margin-top: 6px;
}

.exp-links:hover {
  color: #0070e0;
}

.tab-layout {
  padding: 15px;
  height: 100%;
  font-size: 12px;
}

.params-select {
  width: 100%;
  padding: 5px;
}

.file-table {
  font-size: 12px;
  padding: 0 15px 0 0;
  overflow-y: scroll;
  height: 550px;
}

.parameter-div {
  padding-top: 20px;
}

.no-file {
  font-size: 26px;
  color: #ccc;
}

.active {
  background-color: #2684ff;
  color: #fff;
  transition: 0.6s all;
}

.show-filters, .show-filters:hover {
  background-color: #000;
  color: #fff !important;
}

.exp-sidebar {
  border-left: 1px solid #eee;
  background-color: #f7f9fa;
  height: 100vh;
  padding-top: 20px;
  color: #637282;
}

.no-pad {
  padding: 0;
}

.top-pad {
  padding-top: 2rem;
}

.medium-top-pad {
  padding-top: 1rem;
}

.medium-bottom-pad {
  padding-bottom: 2rem;
}

.right-pad {
  padding: 0 8px 0 0;
}

.filter-modal-body {
  min-height: 350px;
}

.exp-workspace {
  background-color: #f2f2f2;
  height: 100%;
}

.experiment-name {
  cursor: pointer;
}

.experiment-name:hover {
  color: #007af5;
}

.modal {
  opacity: 1;
  margin-top: 90px;
  padding-top: 90px;
  position: absolute;
}

.modal-content {
  z-index: 1000;
}

.uploadModal {
  margin-top: 90px;
  padding-top: 90px;
}

.modal-header {
  font-size: 18px;
  padding: 16px;
  background-color: #f7f9fa;
  border-radius: 5px 5px 0 0;
}

.modal-header .close {
  margin-top: -22px;
}

.modal-open #root {
  opacity: 0.2;
  transition: 0.4s all;
  /*background-color: rgba(0,0,0,0.5);*/
}

.filter-select {
  width: 100%;
  height: 50px;
}

.dataset-table tbody tr:hover {
  cursor: pointer;
}

.dataset-table tbody tr {
  height: 55px;
  vertical-align: center !important;
}

.dataset-table tbody td {
  font-size: 14px;
}

.dataset-table thead th:nth-child(2) {
  min-width: 250px;
}

.dataset-table thead th:last-child {
  min-width: 300px;
}

.table-options {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  display: none;
  color: #1b2733;
}

.dataset-table tbody tr:hover .table-options {
  display:block;
}

.table-options:hover {
  color: #007af5;
  border-color: #007af5;
}

.add-new-btn {
  padding: 8px 25px;
  margin-top: -8px;
  border-radius: 4px;
  background-color: #0070e0;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

.add-new-btn:hover {
  background-color: #007af5;
}

.add-new:hover {
  text-decoration: underline;
  cursor: pointer;
}

.form-group {
  margin-bottom: 20px;
}

.required {
  color: #b71c1c;
}

.action-btn, .cancel-btn {
  min-width: 128px;
  height: 32px;
  font-weight: 700;
  min-height: 32px;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
}

.action-small-btn {
  min-width: 110px;
  height: 30px;
  font-weight: 700;
  min-height: 30px;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  background-color: #0070e0;
  color: #fff;
}

.action-btn {
  background-color: #0070e0;
  color: #fff;
}

.cancel-btn {
  background: #fff;
  border: 1px solid #bbb;
  color: #47525d;
  margin-right: 20px;
}

.cancel-btn:hover {
  background: linear-gradient(#fffffe, #f2f2f2);
}

.action-btn:hover, .action-small-btn:hover {
  background: linear-gradient(#168eef, #007ee5);
}

.btn-group {
  border-top: 1px solid #eee;
  width: 100%;
  max-height: 80px;
  padding: 12px 15px;
  background-color: #f7f9fa;
  border-radius: 0 0 5px 5px;
}

.custom-modal {
  padding: 0;
}

.form-pad:first-child, .model-div {
  padding-top: 15px;
}

.form-group {
  padding-left: 15px;
  padding-right : 15px;
}

.filter-option-div {
  border-right: 1px solid #ccc;
  min-height: 250px;
  padding: 0;
  color: #637282;
}

.filter-option-div div {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.filter-option-div div:hover {
  opacity: 0.8;
}

.active-link, .active-link:hover {
  color: #0070e0 !important;
  font-weight: 700;
  opacity: 1 !important;
}

.data-table-div {
  border-right: 1px solid #ccc;
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 420px;
  padding-bottom: 20px;
}

.enable-tuning {
  cursor: pointer;
}

.vis-modal-body {
  min-height: 460px;
  max-height: 480px;
}

.scrollable-table-div {
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 300px;
  padding-bottom: 30px;
}

.data-table th {
  cursor: pointer;
  transition: 0.2s all;
}

.data-table th:hover {
  background-color: #f1f4fa;
  transition: 0.2s all;
}

.visualize-modal .modal-lg {
  min-width: 85%;
  padding-top: 30px;
}

.lg-modal-content {
  min-height: 400px;
  max-height: 400px;
}

.chartjs-size-monitor canvas {
  height: 200px !important;
}

.stat-separator {
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 0.04rem solid #ccc;
}

.header-dropdown {
  cursor: pointer;
}

.bottom-pad {
  margin-bottom: 20px;
}

.modal-tabs {
  border-bottom: 1px solid #ccc;
}

.modal-tabs > div {
  cursor: pointer;
  padding: 10px;
}

.tab-div:hover {
  border-bottom: 3px solid #ddd;
}

.tab-active {
  border-bottom: 3px solid #0070e0 !important;
  color: #0070e0;
}

.model-modal .model-lg {
  min-width: 85%;
}

.model-form {
  border-left: 1px solid #ccc;
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}

.less-margin {
  margin: 10px 0px;
  padding: 10px 0px;
  /*border-top: 0.04rem solid #ccc;*/
  border-bottom: 0.04rem solid #ccc;
}

.right-bordered {
  border-right: 1px solid #ccc;
}

.hide-show-icon {
  padding: 0 15px;
  cursor: pointer;
}

.hide-show-icon:hover {
  color: #0070e0;
}

.h3-header {
  font-size: 1.28571429rem;
  font-weight: 700;
}